ansible==4.6.0
ansible-core==2.11.5
backports.entry-points-selectable==1.1.0
cffi==1.14.6
cryptography==35.0.0
distlib==0.3.3
filelock==3.3.0
importlib-metadata==4.8.1
Jinja2==3.0.2
MarkupSafe==2.0.1
packaging==21.0
Pillow==9.0.0
platformdirs==2.4.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
qrcode==7.3.1
resolvelib==0.5.4
six==1.16.0
typing-extensions==3.10.0.2
virtualenv==20.8.1
zipp==3.6.0
