server {  
  listen 0.0.0.0:443 ssl;

  server_name {{ host }};
  
  allow all;

  ssl_certificate /data/certs/cert.pem;
  ssl_certificate_key /data/certs/key.pem;

  location ^~/.well-known{
    allow all;
    root /data/letsencrypt/;
  }


  location = /ss {
		if ($http_upgrade != "websocket") { 
			return 404;
		}
		proxy_redirect off;
		proxy_http_version 1.1;
		proxy_pass https://127.0.0.1:8388/;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header Host $http_host;
	}

}

server {

  listen 80 default_server;

  server_name _;

  return 301 https://$host$request_uri;

}