{
    "server":"{{ host }}",
    "server_port":443,
    "local_port":{{ local_port }},
    "mode":"tcp_only",
    "password":"{{ proxy_password }}",
    "timeout":300,
    "method": "{{ method }}",
    "fast_open": {{ fast_open }},
    "reuse_port": true,
    "nameserver": "1.1.1.1",
    "plugin":"ss-v2ray-plugin",
    "plugin_opts":"tls;path=/ss;host={{ host }}"
} 
